<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=960, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>JW Developer | <%= demo.title %></title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.ico">

   	<!-- Responsive and mobile friendly stuff -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css" media="all">
	<link rel="stylesheet" href="/assets/css/html5reset.css" media="all">
	<link rel="stylesheet" href="/assets/css/col.css" media="all">
	<link rel="stylesheet" href="/assets/css/2cols.css" media="all">
	<link rel="stylesheet" href="/assets/css/demos.css">

	<!-- JS -->
	<script src="//content.jwplatform.com/libraries/VZOhu4w3.js"></script>

</head>
	<body onload="parseCode()">
	<nav>
		<a href="//developer.jwplayer.com"><img src="//developer.jwplayer.com.s3.amazonaws.com/img/jw-logo.svg"/></a><p>developer</p>
	</nav>

	<header>
		<h2><%= demo.title %></h2>
    <p><%= demo.description %></p> 
	</header>


	<div class="metadata">
	    <ul>
	      <li><span>License:</span> <%= demo.license %> </li>
	      <li><span>Player Version:</span> <%= demo.version %></li>
	      <li><a href="<%= demo.documentations %>">Documentation</a></li>
	    </ul>
	</div>


	<div class="disclaimer">
			<p>Please Note: This player implementation is a Proof of Concept only provided to show the possibilities of the JW Player and Platform and should not be taken as an offer to create, edit or maintain custom integration or development.</p>
		</div>

	<div id="demo-content">

		<div class='section group'>
			<!-- LEFT COLUMN - VIDEO PLAYER HERE -->
			<div id="container1"></div>
		</div>

		<div class='section group'>
			<!-- LEFT COLUMN - VIDEO PLAYER HERE -->
			<div id="container2"></div>
		</div>

	</div>

	<!-- JS SCRIPTS -->
	<script type="text/javascript" class="prettify">
		var playerInstance1 = jwplayer('container1')
		playerInstance1.setup({
			<%= demo.media.config %>: "<%= demo.media.source %>",
			width: 640,
			height: 360,
		})

		var playerInstance2 = jwplayer('container2');
		playerInstance2.setup({
			<%= demo.media.config %>: "<%= demo.media.source %>",
			width: 640,
			height: 360,
		})
	</script>
	</body>
</html>