<form method="post" action="/demos" >
  Template:
    <!-- <select onchange="preloadJS( this.value )"> -->
    <select name='template'>
      <option value="one_player">One Player</option>
      <option value="one_player_code">One Player with Code</option>
      <option value="two_player">Two Player</option>
      <option value="two_player_code">Two Player with Code</option>
      <option value="blank">Blank</option>
    </select><br/>
  Author:
    <input type="text" name="author"><br>
  Title:
    <input type="text" name="title"><br>
  Tags:
    <% for( i in tags ){ %>
      <br/> <input type="checkbox" name="tags" value="<%= tags[i].name %>"><%= tags[i].name %><br/>  
    <% } %>
    <br>
  Media:
    <select name='media'>
      <% for( i in media ){ %>
        <option value="<%= media[i].format %>"><%= media[i].format %></option> 
      <% } %>
    </select><br/>
<input type="submit" value="Generate Template">
</form>

<form method="post" action="/preview" id="jsForm" >
Javascript: 
<textarea name="demoBody">
  <% if( demo.template ){ %>
    <%= include( '../templates/' + demo.template ) %>
  <% } %>
</textarea>
<input type="submit" value="Preview">
</form>

<script>
document.querySelector("textarea").addEventListener('keydown',function(e) {
  if(e.keyCode === 9) { // tab was pressed
    // get caret position/selection
    var start = this.selectionStart;
    var end = this.selectionEnd;

    var target = e.target;
    var value = target.value;

    // set textarea value to: text before caret + tab + text after caret
    target.value = value.substring(0, start)
                + "\t"
                + value.substring(end);

    // put caret at right position again (add one for the tab)
    this.selectionStart = this.selectionEnd = start + 1;

    // prevent the focus lose
    e.preventDefault();
  }
},false);

</script>
</div>

